@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* under link effect    */
.link-effect {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
}
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.sticky-div {
  transition: all;
  transition-duration: 0.2s;
}

.glass {
  background: rgba(31, 38, 135, 1);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px ); */
}

@media (max-width: 992px) {
  .bg-color {
    background-color: rgba(31, 38, 135, 1);
  }
}

/* new css */

.text-red {
  color: #f05858;
}

.text-yellow {
  color: #fec913;
}

.text-blue {
  color: #082465;
}

.pt-6 {
  padding-top: 6rem !important;
}
.bg-primary-blue {
  background-color: rgba(8, 36, 101, 1) !important;
}

.header {
  background-color: rgba(8, 36, 101, 1);
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  background-color: rgba(8, 36, 101, 1) !important;
  padding-left: 2rem;
  padding-right: 2rem;
}
.ieee-logo {
  width: 7.375rem;
}

.f-40 {
  font-size: 1.5rem;
}

.f-30 {
  font-size: 2rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 58px;
}

/* about section */
.end-10 {
  right: 10px;
}

.start-10 {
  left: 10px;
}
.px-6 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.abtCollege-content {
  height: 100%;
  z-index: 1;
  background: -moz-linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0666",endColorstr="#0056ff",GradientType=1);
  border-radius: 0.8rem;
  margin: 0;
}

/* FOOTER CSS */


.foot
{
    font-family: 'Roboto', sans-serif;
    margin-left: -1%;
    margin-bottom: -2%;
    width:auto;
    background-color: #082465;
    color: white;
}
.foot-heading {
  margin-bottom: 1cm;
  font-size: 24px;
  text-align: center;
  transform: translateY(25px);
}
.center {
  text-align: center;
}
.left {
  padding-left: 5.5rem;
  float: left;
}
.right {
  padding-right: 5.5rem;
  float: right;
  text-align: right;
}
.right1 {
  padding-right: 5.5rem;
  float: right;
}
.left1 {
  padding-left: 5.5rem;
  float: left;
}
.up {
  float: center;
  overflow: auto;
  vertical-align: top;
}
.long-text {
  font-size: 15px;
  color: rgba(234, 240, 246, 0.8);
  font-weight: 400;
}
.long-text1 {
  font-size: 12px;
  color: rgba(234, 240, 246, 0.8);
  font-weight: 400;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(234, 240, 246, 0.8);
}
.a1 {
  font-weight: 400;
  padding-right: 35px;
}
.a2 {
  font-weight: 400;
  padding-left: 35px;
}
img {
  vertical-align: baseline;
}
.space-maker {
  height: 3000px;
}
.big-font {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.img-1 {
  transform: translateY(3px);
}
.bottom-foot {
  padding-bottom: 20px;
  text-align: center;
}
.psg-text {
  font-family: Baskervvile;
  font-size: 40px;
  line-height: 0.8;
}
@media only screen and (max-width: 420px) {
  body {
    margin: 0;
    padding: 0;
  }
  .long-text {
    line-height: 1;
  }
  .left {
    padding-left: 3rem;
    float: left;
    line-height: 1rem;
    height: auto;
  }
  .right {
    padding-left: 3rem;
    padding-right: 0rem;
    float: left;
    text-align: left;
  }
  .right1 {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    text-align: center;
  }
  .left1 {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    text-align: center;
  }
}

/* FOOTER CSS END */

.abtCollege-content p {
  text-align: justify;
  color: #e2e2e2;
}

.abtConference {
  position: relative;
  color: white;
  background: url("../images/conference.jpg");
  background-size: cover;
  z-index: -2;
  padding: 10%;
}

.abtConference .overlay {
  z-index: -1;
  background-color: rgba(197, 0, 0, 0.829);
}

.abtConference h1 {
  font-size: 2.2rem;
}

.abtConference .content {
  padding-top: 5%;
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: justify;
}

.abtDepartment-content {
  height: 100%;
  z-index: 1;

  background: -moz-linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(11, 6, 102, 1) 0%,
    rgba(37, 37, 189, 1) 44%,
    rgba(0, 86, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0666",endColorstr="#0056ff",GradientType=1);
  border-radius: 0.8rem;
  margin: 0;
}

.abtDepartment-content p {
  text-align: justify;
  color: #e2e2e2;
}

.img-fluid1 {
  max-width: 100%;
  height: auto;
}

.read-more {
  border: 1px solid;
  color: white;
  padding: 5px 26px;
  border-radius: 5px;
  text-decoration: none;
}
.read-more:link,
.read-more:visited {
  color: white;
}
.read-more:hover {
  background-color: rgba(230, 36, 36, 0.829);
  color: rgb(247, 247, 247);
  border-color: rgba(197, 0, 0, 0.829);
}

@media (min-width: 1400px) {
  .p-lg-5 {
    padding: 5rem !important;
  }
}

@media (max-width: 575px) {
  .abtCollege-content {
    border-radius: 0;
  }
  .abtDepartment-content {
    border-radius: 0;
  }
}

@media (min-width: 990px) {
  .department {
    height: 450px;
    width: 100%;
  }
}
/* del */
.dummy {
  width: 100%;
  height: 100vh;
}
.landing-content {
  background: url(../images/maskedBridge1.svg) no-repeat center center;
  background-size: cover;
  background-color: white;
  width: 100%;
  height: 37rem;
  position: relative;
}

@media (max-width: 575px) {
  .landing-content {
    /* background: url(../images/landingPage1.jpeg); */
    margin-top: 1px;
  }
}

.landing-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.latest-updates {
  z-index: 10;
  position: absolute;
  top: 3.5rem;
  right: 4%; /* modifier for the left-right positioning of the latest-updates div. */
  height: 30rem;
  width: 28rem;
  padding: 2rem;
  padding-top: 0;
  background-color: rgba(8, 36, 101, 1);
  border-radius: 10px;
  color: white;
}

.latest-updates h2 {
  letter-spacing: 0.2rem;
  color: #fec913;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 2rem 1rem 1rem 0;
  background-color: rgba(8, 36, 101, 1);
}

@media (max-width: 768px) {
  .landing-overlay {
    display: none;
  }
  .latest-updates {
    position: absolute;
    width: 80%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    height: 80%;
  }

  .latest-updates h2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .landing-overlay {
    display: none;
  }
  .latest-updates {
    position: absolute;
    width: 80%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    height: 80%;
  }

  .latest-updates h2 {
    text-align: center;
  }
}

.date {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: thin;
  font-style: italic;
}

.empty-div {
  min-height: 22rem;
}

.article-container {
  padding-bottom: 2rem;
  overflow-y: auto;
  max-height: 22rem;
  z-index: 1020;
}

.article-container::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.news {
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.orgCommittee {
  border-radius: 5px;
  margin: 45px auto 0;
  background-color: #f0f4ff;
  padding: 25px;
  text-align: center;
}


.orgCommittee h1 {
  font-size: 2.2rem;
  color: #082465;
  font-weight: bolder;
  padding: 34px;
}


.name-card{
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  margin: 25px 25px;
  color: grey;
  transition: all 0.3s;
}

.name-card.indiv {
  width: 400px;
}
.name-card.categ {
  width: 1200px;
}


.name-card h4{
  display: inline-block;
  position: relative;
  font-size: 1.2em;
}
.name-card span {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.name-card.categ p {
  width: 200px;
  margin: 10px 5px 20px 5px;
}


.name-card h4::before{
  position: absolute;
  content: "";
  background-color: #f05858;
  height: 2px;
  width: 100%;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  visibility: hidden;

  transition: all .2s ease-in-out 0s;
}
.name-card:hover.name-card h4:before{
  transform: scaleX(1);
  visibility: visible;
}


.name-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 6px rgba(224, 182, 182, 0.288)
}
.advisory-chair{
  padding: 45px;
 background: -moz-linear-gradient(90deg, #0056ff 0%, #2525bd 44%, #0b0666 100%);
  background: -webkit-linear-gradient(90deg,#0056ff  0%, #2525bd 44%, #0b0666 100%);
  background: linear-gradient(90deg, #0056ff 0%, #2525bd 44%, #0b0666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0666",endColorstr="#0056ff",GradientType=1);
}

.advisory-chair h1{
  color: white;
  text-align: center;
}
.advisory-data{
  color:#000000;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 7px;
  /* background: radial-gradient(circle at 0 0, transparent 13%, #ffffff calc(13%)) top left, radial-gradient(circle at 100% 0, transparent 13%, #ffffff calc(13%)) top right, radial-gradient(circle at 0 100%, transparent 13%, #ffffff calc(13%)) bottom left, radial-gradient(circle at 100% 100%, transparent 13%, #ffffff calc(13%)) bottom right; */
  width: 500px;
  height:150px;
  background-repeat: no-repeat;
  margin: 25px;
  padding: 20px 40px;
  transition:all 0.3s;
}
.advisory-data:hover{
  transform: translateY(-3px);
}


.advisory-data span{
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
}

 
@media(max-width:600px){
  .advisory-data{
    height:auto;
  }
  
} 


.registration {
  background-color: rgba(8, 36, 101, 1);
  color: white;
  padding: 3.5rem;
}

.registration h2 {
  text-align: center;
  color: #fec913;
  font-weight: bold;
}

.point-container {
  padding: 3.5rem;
}

.reg-point {
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.regform-dwld {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.regform-dwld p {
  color: #fec913;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
}

.reg-link-effect {
  text-decoration: none;
  font-style: italic;
  color: #fec913;
  font-weight: 400;
  font-size: 2rem;
}
.reg-underline {
  position: relative;
}

.reg-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fec913;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .reg-underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.fee-structure {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.IEEE-member,
.IEEE-nonmember {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fee-head,
.fee-cell {
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 2rem;
  padding: 0.5rem;
  padding-top: 1rem;
}

.fee-head {
  font-weight: bold;
  text-align: center;
  background-color: #fec913;
  color: rgba(8, 36, 101);
  border-bottom: none;
}

.fee-cell {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.fee-amt {
  color: #fec913;
  transition: all 0.5s ease-in-out;
}

.fee-amt:hover {
  padding: 0 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #fec913;
  border-radius: 10px;
  color: rgba(8, 36, 101, 1);
}

.reg-ps {
  opacity: 0.8;
}

@media (max-width: 1080px) {
  .registration {
    padding: 1.725rem;
  }
  .fee-structure {
    padding: 0;
    flex-direction: column;
  }

  .point-container {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 625px) {
  .registration h2 {
    padding: 0;
  }

  .fee-amt:hover {
    padding: 0;
    font-weight: normal;
    background-color: inherit;
    color: inherit;
    border-radius: 0;
  }

  .IEEE-member,
  .IEEE-nonmember {
    padding: 0;
  }
  .fee-head,
  .fee-cell {
    font-size: 1rem;
  }
  .reg-ps {
    text-align: center;
    padding: 1rem;
  }
}

.name-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 2px 6px rgba(224, 182, 182, 0.288)
}


/* keynote speakers start */

.speaker{
  background-color: #f05858;
  color: white;
  padding: 10px 0 20px;
}

.speaker h3{
  color: white;
  margin: 3em 0 1.5em 0;
}
.speakers-flexbox{
  padding: 40px 0 20px;
}

.speaker .card{
  background-color: #d33a3a;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 3em 20px;
}

.speaker .card h4{
  font-size: 1.1em;
}

.speaker .card img{
  width: 150px;
  border-radius: 50%;
  margin: -5em auto auto auto;
  border: 10px solid #d33a3a;
}

.speaker .card .subtle{
  color: rgba(255, 255, 255, 0.726);
}

/* keynote speakers end */



/* Author Guide lines */
.authorguideline
{
  position: relative;
  color: white;
  background: url("../images/conference.jpg");
  background-size: cover;
  z-index: -2;
  padding: 10%;
}
.authorguideline .overlay{
  z-index: -1;
  background-color: rgba(69, 0, 197, 0.829);
}

.authorguideline h1{
  font-size: 2.2rem;
}
.authorguideline .content {
  padding-top: 5%;
  font-size: 1.2rem;
  line-height: 1.5em;
}


/* Authour Guide lines END */

/* Important Date Start */

h1 {
  text-align: center;
}

.ulist {
  display: grid;
  grid-template-columns: 0.25rem 1fr;
  grid-auto-columns: max-content;
  column-gap: 2rem;
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

.ulist::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(0.25rem / 2);
}


.ulist li:not(:last-child) {
  margin-bottom: 2rem;
}


.ulist li {
  grid-column: 2;
  margin-inline: 1.5rem;
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}


.ulist li .date {
  height: 3rem;
  margin-inline: calc(1.5rem * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(3rem / 2) 0 0 calc(3rem / 2);
}


.ulist li .date::before {
  content: "";
  width: 1.5rem;
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

.ulist li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: rgba(245, 245, 245);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + 2rem + 0.25rem / 2);
}

.ulist li .title,
.ulist li .descr {
  background: rgba(245, 245, 245);
  position: relative;
  padding-inline: 1.5rem;
}
.ulist li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.ulist li .descr {
  padding-top:5%;
  padding-block-end: 1.5rem;
  font-weight: 300;
}


.ulist li .title::before,
.ulist li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.ulist li .title::before {
  bottom: calc(100% + 0.125rem);
}

.ulist li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .ulist {
    grid-template-columns: 1fr 0.25rem 1fr;
  }
  .ulist::before {
    grid-column: 2;
  }
  .ulist li:nth-child(odd) {
    grid-column: 1;
  }
  .ulist li:nth-child(even) {
    grid-column: 3;
  }


  .ulist li:nth-child(2) {
    grid-row: 2/4;
  }

  .ulist li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .ulist li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + 2rem + 0.25rem / 2);
  }
  .ulist li:nth-child(odd) .date {
    border-radius: 0 calc(3rem / 2) calc(3rem / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: rgba(30, 30, 30);
}

/* .important-dates{
  position: relative;
  z-index: 2000;
} */
/* Important Date END */