*{
    box-sizing: border-box;
}
.foot
{
    font-family: 'Roboto', sans-serif;
    margin-left: -1%;
    margin-bottom: -2%;
    width:auto;
    background-color: #00002d;
    color: white;
}
.foot-heading
{
    Margin-bottom:1cm; 
    font-size: 24px;
    text-align: center;
    transform: translateY(25px)
}
.center
{
    text-align: center;
}
.left
{
    padding-left: 5.5rem;
    float:left;
}
.right
{
    padding-right: 5.5rem;
    float:right;
    text-align: right;
}
.right1
{
    padding-right: 5.5rem;
    float:right;
}
.left1
{
    padding-left: 5.5rem;
    float:left;
}
.up
{
    float: center;
    overflow: auto;
    vertical-align: top;
}
.long-text
{
    font-size: 15px; 
    color: rgba(234, 240, 246, 0.8);
    font-weight: 400;
}
.long-text1
{
    font-size: 12px; 
    color: rgba(234, 240, 246, 0.8);
    font-weight: 400;
}
a
{
    text-decoration: none;
    font-weight: 600;
    color: rgba(234, 240, 246, 0.8);
}
.a1
{
    font-weight: 400; 
    padding-right: 35px;
}
.a2
{
    font-weight: 400; 
    padding-left: 35px;
}
img
{
    vertical-align: baseline;
}
.space-maker
{
    height:3000px;
}
.big-font
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: 600; 
    line-height: 1;
}
.img-1
{
    transform: translateY(3px);
}
.bottom-foot
{
    padding-bottom: 20px; 
    text-align:center;
}
.psg-text
{
    font-family:Baskervvile; 
    font-size: 40px; 
    line-height: 0.8;
}
@media only screen and (max-width: 420px)
{
    body            
    {
        margin: 0;
        padding: 0;
    }
    .long-text
    {
        line-height: 1;
    }
    .left
    {
        padding-left: 3.0rem;
        float: left;
        line-height: 1rem;
        height: auto;
    }
    .right
    {
        padding-left: 3.0rem;
        padding-right: 0rem;
        float: left;
        text-align: left;
    }
    .right1
    {
        padding-left: 0rem;
        padding-right: 0rem;
        width:100%;
        text-align: center;   
    }
    .left1
    {
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
        text-align: center;
    }
}